# This file maintains consistent coding styles between different editors and IDEs.
# http://editorconfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[{bin/download-php, bin/install-composer, bin/install-php-ext}]
indent_style = space
indent_size = 2
