# http://editorconfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[{docker/hooks/build,docker/hooks/post_push}]
indent_style = space
indent_size = 4

[docker/*.Dockerfile]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

[Makefile]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[APKBUILD]
indent_style = space
indent_size = 2

[*.patch]
trim_trailing_whitespace = unset
end_of_line = unset
insert_final_newline = unset
